
#accueil {			/*page d'accueil du site*/
	display:flex;
	justify-content:space-between;
	padding-right:0px;
	overflow:auto;
	background-image:url(image4.jpg);		/*fond général de la page*/ 
	background-repeat: no-repeat;
	background-size:cover;						/*image qui s'adapte à la taille de la fenêtre*/
	height:100vh;				/*hauteur de 100%*/
	margin:0px;					/*marges extérieures de la page*/
	width:100%;
	flex-direction:column;
	overflow-x:hidden;
}

.hjt h1{
	font-size:250px;
	font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	color:#FFF;
	text-shadow: 5px 5px 5px 5px grey;
	margin-top:25%;
}

#accueil .bouton1:hover{
	background-color:rgba(255,255,255,0.5);
}

#accueil .bouton1{
	color:white;
	font-size:25px;
	margin-left:35%;
	margin-right:35%;
	background-color:grey;
	border-radius:10px;
	box-shadow:5px 5px 5px white;
	margin-bottom:20%;
	padding:10px 10px 10px 10px;
	text-align:center;
	cursor:pointer;
}


.Presentation {				/*Paragraphe d'accroche du site*/
	color:#fff;
	background-color:rgba(0,0,0,0.2);
	text-align:center;	
	border-color:#fff;
	border-radius:10px;
	padding: 4%;
	box-shadow: -5px -5px grey;
	overflow:auto;
	font-size:25px;
	margin-top:45%;
	margin-left:20%;
	visibility:hidden;
}


.Presentation a {					/*"En savoir plus" de la page d'accueil */
	background-color:none;
	padding: 10px 10px 10px 10px;
	color:#fff;
	float:right;
	text-decoration:underline;
}

.Presentation a:hover{
	font-size:30px;
	color:white;
}

#tout {										/*box globale de java en quelque mots*/
	background-color:rgba(255,255,255,0.3);
	display: flex;
	justify-content: space-between;
	align-items:center;
	flex-direction:column;
	margin-right:30%;
	overflow:auto;
	margin-top:65%;
	visibility:hidden;
	font-size:20px;
}

#mots {									/*différentes box de la page d'accueil (Java en quelques mots)*/
	font-family:Georgia, serif;
	text-align:center;
	color:#fff;
	padding: 10px 10px 10px 10px;
	
}

