

#pres {				/*onglet présentation du site*/
	background-image:url("image.jpg");		/*fond général de la page*/
	background-repeat: no-repeat;
	background-size:cover;		 				/*image qui s'adapte à la taille de la fenêtre*/
	height:100vh;		/*hauteur de 100%*/
	width:100%;
	color:white;
	display:flex;
	flex-direction:line;
	padding-top:100px;
	overflow-x:hidden;
}
#pres .premier 
{
	font-family:arial;
}

.pres1 {
	background-color:rgba(0,0,0,0.6);
	margin-top:8%;
	margin-bottom:5%;
	padding:20px 20px 20px 20px;
	overflow:auto;
}

.pres1 p {
	font-size:22px;
}


.titre {
	color:red;
	font-size:25px;
}


.pres1 hr { /*ligne présentation*/
  height: 1px;
  color: #F00;
  margin-left:20%;
  margin-right:20%;
  overflow:auto;
}

.pres1 h1{
	text-align:center;
}

.droite {
	display:flex;
	flex-direction:column;
	margin-top:8%;
	margin-bottom:8%;
}

.trad {
    background-color:rgba(0,0,0,0.7);
    padding:20px 20px 20px 30px;
    font-size:18px;
    border-radius:10px;
	overflow:auto;
	border:0.5px solid white;
	margin-left:2%;
}
.trad1 {
    background-color:rgba(255,255,255,0.5);
    padding:20px 20px 20px 30px;
    font-size:18px;
    color:black;
    border-radius:10px;
	overflow:auto;
	border:0.5px solid black;
	margin-bottom:5%;
	margin-left:2%;
}




