body {					/*caractéristiques du body */
	color: black;		/*couleur*/
	height:100vh;		/*hauteur de 100%*/
	margin:0px;			/*marges extérieures de la page*/
	width:100vw;			/*largeur de la page*/
	overflow-x:hidden;
}

html{
  scroll-behavior: smooth;
}


#accueil .items,#pres .items,#app .items, #apdn .items, #env .items{
	float:right;
	display:flex;
	flex-direction:column;
	margin-top:40vh;
	width:auto;
	background-color:rgba(255,255,255,0.5);
	border-radius:10px 0 0 10px;
	padding:5%;
}

#env .item2{
	border-top: 1px solid white;
	padding:5%;
	text-align:center;
	height:42px;
	overflow:hidden;
}

#env .item1{
	padding:5%;
	text-align:center;
	height:42px;
	overflow:hidden;
}

#accueil .item1,#pres .item1,#app .item1,#apdn .item1{
	padding:5%;
	text-align:center;
	height:50px;
	overflow:hidden;
}


#accueil .item2,#pres .item2,#app .item2,#apdn .item2{
	border-top: 1px solid white;
	padding:5%;
	text-align:center;
	height:50px;
	overflow:hidden;
}

#accueil .item1:hover, #accueil .item2:hover, #pres .item1:hover, #pres .item2:hover, #env .item1:hover, #env .item2:hover, #app .item1:hover, #app .item2:hover, #apdn .item1:hover, #apdn .item2:hover{
	height:100px;
}


@media screen and (max-width:800px){
    .row #menu a, #pres .trad,#pres .trad1, #pres .pres1 p, table, .sommaireapp, .paragraphedernier, footer, figcaption, #apdn .leftBox h1, .events .details p, #apdn .content p, .details a, #env .intro, #env td, #env th{
        font-size:15px;
    }
    
    .content{
        width:100%
    }
    #apdn .apdnbloc{
        margin-top:15vh;
        width:70vw;
        display:flex;
        flex-direction:column;
        overflow:auto;
    }
    #apdn .ul{
        margin-left:50px;
        width:75%;
    }
	#accueil .Presentation, #accueil #mots, #env .intro, #app .orange, #app .cadres {
		margin-top:12vh;
	}
    #apdn .events {
        width:100%;
    }
    .pres1 h1,.trad h1,.trad1 h1, .parag, #app .orange h1, .apdnbloc h3, .events .details h3 , .time h2, #app .cadres h3  {
        font-size:12px;
    }
    #app .sommaireapp {
		border: solid 1px;
	}	
	.blignes{
		height:70%;
	}
	.items{
		margin-top:-20000px;
		visibility: hidden;
	}
	#accueil .hjt h1{
		font-size:50px;
		margin-top:-10%;
	}
	#accueil .bouton1{
		margin-bottom:0;
	}
	#accueil .Presentation{
		width:90vw;
		margin-left:auto;
		margin-bottom:20%;
		font-size:15px;
	}
	#accueil #tout{
		width:50%;
		margin-left:auto;
		margin-right:auto;
		font-size:15px;
		margin-bottom:10%;
		margin-top:0;
	}
	#env .intro{
		margin-bottom:2%;
		margin-right:-10%;
	}
}

@media screen and (min-width:800px) and (max-width:1100px){
	.items{
		margin-top:-20000px;
		visibility:hidden;
	}
	#accueil .hjt h1{
		font-size:50px;
		margin-top:-10%;
	}
	#accueil .bouton1{
		margin-bottom:0;
	}
	#accueil .Presentation{
		width:90vw;
		margin-top:15%;;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20%;
		font-size:15px;
	}
	#accueil #tout{
		width:50%;
		margin-left:auto;
		margin-right:auto;
		font-size:15px;
		margin-bottom:10%;
		margin-top:0;
	}
}
 
